<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SFP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SFP.Properties.Settings>
            <setting name="SteamDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>System Default</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InjectOnSteamStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamLaunchArgs" serializeAs="String">
                <value>-cef-enable-debugging</value>
            </setting>
            <setting name="RunSteamOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InjectOnAppStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForceSteamArgs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InjectCSS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InjectJS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InjectJSWarningAccepted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedSkin" serializeAs="String">
                <value>steamui</value>
            </setting>
        </SFP.Properties.Settings>
    </userSettings>
</configuration>
