<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="logfile" xsi:type="File"
            fileName="SFP.log"
            archiveOldFileOnStartup="true"
            openFileCacheTimeout = "30"
            maxArchiveFiles="2"
            archiveAboveSize="1000000" />
    <target name="logconsole" xsi:type="Console" />
    <target name="debugger" xsi:type="DebugSystem" layout="${logger}::${message}" />
    <target name="outputcontrol" xsi:type="OutputControl" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="outputcontrol" />
    <logger name="*" minlevel="Info" writeTo="debugger" />
  </rules>
</nlog>
