name: Build

on:
  push:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: pwsh
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
      fail-fast: true
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x
          cache: true
          cache-dependency-path: '**/packages.lock.json'
      - run: dotnet restore --locked-mode
      - name: Set OS_ARG environment variable
        run: |
          if ("${{ runner.os }}" -eq "Windows") {
            echo "OS_ARG=win10" | Out-File -FilePath $env:GITHUB_ENV -Append
          } elseif ("${{ runner.os }}" -eq "Linux") {
            echo "OS_ARG=linux" | Out-File -FilePath $env:GITHUB_ENV -Append
          } elseif ("${{ runner.os }}" -eq "macOS") {
            echo "OS_ARG=osx" | Out-File -FilePath $env:GITHUB_ENV -Append
          }
      - run: ./createpublishedzip.ps1 -os ${{ env.OS_ARG }} -selfcontained true
      - uses: actions/upload-artifact@v3
        with:
          name: SFP_UI-${{ env.OS_ARG }}-x64-SelfContained-${{ github.sha }}
          path: Release/SFP_UI-*
