name: Publish Release

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version number
        required: true

jobs:
  build:
    strategy:
      matrix:
        os: [ win10, linux, osx ]
      fail-fast: true
    runs-on: windows-latest
    steps:
      - name: Check Tag
        id: check-tag
        uses: KyoriPowered/action-regex-match@v3
        with:
          text: ${{ github.event.inputs.version }}
          regex: '^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$'

      - name: Fail if invalid
        if: steps.check-tag.outputs.match == ''
        uses: Actions/github-script@v6
        with:
          script: |
            core.setFailed('Invalid tag')

      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Create tag
        run: |
          git tag ${{ github.event.inputs.version }}
          git push origin ${{ github.event.inputs.version }}

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Build & Zip
        shell: pwsh
        run: .\createpublishedzip.ps1 -os ${{ matrix.os }}

      - name: Publish to Github
        uses: ncipollo/release-action@v1
        with:
          artifacts: "Release/*.zip"
          tag: ${{ github.event.inputs.version }}
          commit: ${{ github.ref }}
          artifactErrorsFailBuild: true
          draft: true
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
